AuthUserfile /home/ubuntu/workspace/.htpasswd
# AuthGroupfile /dev/null
AuthName "Please enter your ID and password"
AuthType Basic
require valid-user

AddType application/x-httpd-php .php .html
AddHandler  application/x-httpd-php .php .html.