$color-white : #fff;
$color-light-gray: #454a56;
$color-dark-purple: #2D122F;
$color-link-blue: #3e5871;
$color-link-blue-dark: #3e5871;
$color-bg-blue: #303740;
$visual-filter: rgba(30, 30, 30, 0.15);
$color-persbox : #2d3c4c;

@import "page-up";

/** action button **/
@mixin linkbox{
    background-color: $color-link-blue-dark;
	display: block;  
    margin: 0 auto;
    padding: 15px 0;
    font-weight: bold;
    width: 300px;
    border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
}

@mixin animation-btn{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.action-button a{
    @include linkbox;
    text-align: center;
    p{
	    color: $color-white;
    }
}

.action-button a:hover{
    opacity: 0.6;
    background-color: $color-link-blue-dark;
    @include animation-btn;
}


.under-line {
    border-bottom: solid 4px;
    font-size: 1.00em;
    line-height: 2.00em;
    padding-bottom: 10px;
}

/** headeer **/
header{

    top: 0;
    position: fixed;
    width: 100%;
    z-index: 10000;
    
    .global-menu{
        display: table;
        min-height: 36px;
        padding: 1%;
        width: 98%;
                    
        h1{
            a{
                figure{
                    width: 100px;
                    height: 40px;
                    background-image: url(/persbox/img/common/logo-w.png);
                    background-repeat: no-repeat;
                    display: block;
                }
            }
        }
        
        h1,nav{
            display: table-cell;
            font-size: 1.15em;
            color: $color-white;
            vertical-align: bottom;
            
            ul{
                display: table;
                float: right;
                
                li,li a{
                    font-size: 1.0em;
                    color: $color-white;
                    display: table-cell;
                    padding-right:13px;
                }
                li a:hover{
                    color: $color-persbox;
                }
                
            }
        }
        h1{
            padding-left: 1%;
        }
        h1 a{
            color: $color-white;
        }
        
    }
    
}


/* transition */
#top-head{
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

/* Fixed */
#top-head.fixed {
    padding-top: 15px;
    background: rgba(255,255,255,.7);
    border-bottom: solid 1px $color-light-gray;
                    
    h1{
        a{
            figure{
                width: 100px;
                height: 40px;
                background-image: url(/persbox/img/common/logo-c.png);
                background-repeat: no-repeat;
                display: block;
            }
        }
    }
    
    h1, a{
        color: $color-persbox;
    }
    a:hover{
        opacity: 0.75;
    }
}

#top-head.fixed:after {
    width: 100%;
    margin-top: 20px;
}




/** key_visual **/
.key_visual{
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 100vh;
    animation: bg-color 60s infinite;
    -webkit-animation: bg-color 60s infinite;
    
    
        .key_inside{
            background-color: rgba(40, 40, 40, 0.20);
            height: 100%;
            text-align: center;
            width: 100%;
            
            
            .key_title{
                padding-top: 35vh;
                
                h1{
                    color: $color-white;
                    font-size: 2.85em;
                    line-height: 1.75em;
                }
                
                p{
                    color: $color-white;
                    line-height: 1.75em;

                }
            }
            
            .action-button{
                margin-top: 60px;    
            }
        }
        
        .company-detail-area{
            margin: 40px auto;
            width: 60%;
            
            ul{
                display: table;
                width: 100%;
                
                li{
                    padding-bottom: 20px;    

                }
            }
            
        }
        
        .company-map-area{
            
            ul{
                display: table;
                margin: 60px 0;
                width: 100%;
                

                li{
                    display: table-cell;;
                    text-align: center;
                    
                    ul{
                        
                        margin: 0 auto;
                        width: 90%;
                        
                        li{
                            display: table;
                            text-align: center;
                            width: 100%;
                            
                            iframe{
                                width: 90%;
                                height: 300px;
                            }
                        }
                        
                        li:last-child{
                            margin-top: 40px;
                        }
                        
                    }
                    
                }
            }
            
            .action-button{
                margin-top: 60px;    
            }
        }
        
}
@-webkit-keyframes bg-color {
    0% { background-image: url(/persbox/img/pers/pers01.png);}
    10% { background-image: url(/persbox/img/pers/pers02.png); }
    20% { background-image: url(/persbox/img/pers/pers03.png); }
    30% { background-image: url(/persbox/img/pers/pers04.png); }
    40% { background-image: url(/persbox/img/pers/pers05.png); }
    50% { background-image: url(/persbox/img/pers/pers07.png); }
    60% { background-image: url(/persbox/img/pers/pers08.png); }
    70% { background-image: url(/persbox/img/pers/pers09.png); }
    80% { background-image: url(/persbox/img/pers/pers10.png); }
    90% { background-image: url(/persbox/img/pers/pers11.png); }
    100% { background-image: url(/persbox/img/pers/pers12.png); }
}

@keyframes bg-color {
    0% { background-image: url(/persbox/img/pers/pers01.png);}
    10% { background-image: url(/persbox/img/pers/pers02.png); }
    20% { background-image: url(/persbox/img/pers/pers03.png); }
    30% { background-image: url(/persbox/img/pers/pers04.png); }
    40% { background-image: url(/persbox/img/pers/pers05.png); }
    50% { background-image: url(/persbox/img/pers/pers07.png); }
    60% { background-image: url(/persbox/img/pers/pers08.png); }
    70% { background-image: url(/persbox/img/pers/pers09.png); }
    80% { background-image: url(/persbox/img/pers/pers10.png); }
    90% { background-image: url(/persbox/img/pers/pers11.png); }
    100% { background-image: url(/persbox/img/pers/pers12.png); }
}  

/** who we are **/
.contents-who {
    
    background-image: url(/persbox/img/key_visual/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 40px;
    display: block;
    padding: 30px 1%;
    width: 98%;
    
    .who-inside{
        
        height: 70vh;
        display: table;
        margin: 0 auto;
        padding: 100px 0;
        
        .who-text-area{
            display: table-cell;
            
            h1{
                font-size: 5.05em;
                line-height: 1.00em;
                padding-top: 15vh;
            }
            
            p{
                padding-top: 25px;
                line-height: 1.85em;
            }
        }
    }
    
}


/** works **/
.contents-works{
    background: $color-bg-blue;
    display: block;
    padding: 30px 1%;
    width: 98%;
    
    .works-inside{
        height: 77vh;
        display: table;
        width: 70%;
        margin: 0 auto;
        padding: 100px 0;
        
        .works-text-area{
            text-align: center;
        
            h1{
                font-size: 3.75em;
                color: #fff;
                padding-top: 8vh;
                border-bottom: solid 2px;
                line-height: 1.0em;
                padding-bottom: 20px;
                width: 300px;
                margin: 0 auto;
                word-wrap: break-word;
            }
        }
    }
        
    .works-list-area{
        margin-top: 100px;
        
        ul{
            width: 100%;
            display: table;
            
            li{
                display: table-cell;
                
                figure{
                    width: 100%;
                    
                    img{
                        width: 100%;
                    }
                }
            }
            
            li a:hover img{
                opacity: 0.5;
            }
            
        }
    }
}

/** company **/
.contents-company{
    display: block;
    padding: 30px 1%;
    width: 98%;
    
        .company-inside{
            height: 77vh;
            display: table;
            width: 70%;
            margin: 0 auto;
            padding: 100px 0;
            
            .company-text-area{
                text-align: center;
                
                h1{
                    font-size: 3.75em;
                    line-height: 1.00em;
                    margin: 0 auto;
                    width: 400px;
                    word-wrap: break-word;
                }
            }
        }
        
        .company-detail-area{
            margin: 40px auto;
            width: 60%;
            
            ul{
                display: table;
                width: 100%;
                
                li{
                    padding-bottom: 20px;    
                }
                
                dl{
                    display: table;
                    width: 100%;
                    
                    dt,dd{
                        display: table-cell;
                    }
                    dt{
                        width: 40%;
                    }
                }
            }
            
        }
        
        .company-map-area{
            
            ul{
                display: table;
                margin: 60px 0;
                width: 100%;
                
                li{
                    display: table-cell;;
                    text-align: center;
                    
                    ul{
                        
                        margin: 0 auto;
                        width: 90%;
                        
                        li{
                            display: table;
                            text-align: center;
                            width: 100%;
                            
                            iframe{
                                width: 90%;
                                height: 300px;
                            }
                        }
                        
                        li:last-child{
                            margin-top: 40px;
                        }
                        
                    }
                    
                }
            }
            
        }
}

/** footer **/
footer{
    height: 15vh;
    background: $color-light-gray;
    text-align: center;
    padding-top: 8vh;
    width: 100%;
    
    li{
        color: $color-white;
    }
}

/** lightbos setting**/
div#lightbox-panel01,
div#lightbox-panel02,
div#lightbox-panel03,
div#lightbox-panel04,
div#lightbox-panel05,
div#lightbox-panel06,
div#lightbox-panel07,
div#lightbox-panel08,
div#lightbox-panel09,
div#lightbox-panel10,
div#lightbox-panel11,
div#lightbox-panel12,
div#lightbox-panel13,
div#lightbox-panel14,
div#lightbox-panel15,
div#lightbox-panel16,
div#lightbox-panel17,
div#lightbox-panel18{ 
    position: fixed;
    top: 10vh;
    left: 20%;
    right: 20%;
    z-index: 300000;
	display: none;
}


div#lightbox-inside{ 
    padding: 10px; 
    overflow: hidden;
    clear: both;
}

div#lightbox-inside img{ 
    width: 100%;
}

div#lightbox-panel ul{ 
    width: 80%; 
    margin: 0 auto; 
}

div#BlackWindow{ 
    display:none; background:black; opacity:0.7;
    filter:alpha(opacity=70);
    position:fixed; top:0px;
    left:0px; min-width:100%;
    min-height:100%;
    z-index:20000;
}

@media screen and (max-width: 768px) {

header {
    h1{
        text-align: center; 
    }
    nav,ul{
        display: none !important;
    }
}

.key_visual{
    
    .key_title{
            display: table;
            height: 50vh;
            width: auto;
            text-align: center;
            margin: 0 auto;
            vertical-align: middle;
            padding-left: 4%;
            padding-right: 4%;
            padding-top: 20vh !important;
        
        h1{
            font-size: 3.00em !important;
            padding-top: 15%;
        }
        h2{
            font-size: 1.35em !important;
            line-height: 1.45em !important;
        }
    }
}

.contents-who{
    
    background-position-y: 200px !important;
    
    .who-inside{
        height: 70vh !important;
        display: table !important;
        margin: 0 auto !important;
        padding: 0px 5% 50% !important;
    }
}
    
.contents-works{
    padding: 0px 1% !important;
    
    .works-inside{
        .works-list-area{
            margin-top: 30px !important;
        }
    }
}    

.company-inside{
    padding: 30px 0 !important;
    
    h1{
        font-size: 3.05em !important;
        width: auto !important;
    }
    .company-detail-area{
        width: 100% !important;
    }
    
    .company-map-area{
        ul{
            li{
                display: table !important;
                
                iframe{
                    width: 90% !important;
                    height: 25% !important;
                    margin-bottom: 30px !important;
                }
            }
        }
    }
}
    
}